.createBlade {
	background-image: url(/images/add-workspace-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.floatingFormAdd {
	background-color: rgba(255, 255, 255, 0.55);
	height: 500px;
	left: -webkit-calc( 50% - 350px );
	padding: 24px;
	position: absolute;
	text-align: center;
	top: 20%;
	width: 700px;
}

.floatingFormAdd label {
	display: inline-block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 500;
	margin-top: 30px;
	text-align: right;
	width: 100px;
}

.addInput {
	background-color: white;
	border: none;
	border-radius: 0;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 30px;
	margin-top: 24px;
	width: -webkit-calc( 100% - 170px );
}

.addInput[type="text"] {
	padding-left: 12px;
}

.textInput {
	background-color: white;
	border: none;
	border-radius: 0;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 60px;
	padding-top: 12px;
	margin-top: 24px;
	width: -webkit-calc( 100% - 170px )
}

.textInput[type="text"] {
	padding-left: 12px;
}

.addBtnDiv {
	text-align: center;
	width: 100%;
}

.addBtn {
	background-color: #FF5722;
	border: none;
	border-radius: 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 24px auto;
	padding: 12px;
	text-align: center;
}

.addBtn:hover {
	background-color: #D0471D;
	cursor: pointer;
}