.smallSearch {
	height: 30px;
	width: 100%;
}

.orangeAccentSm {
	background-color: #FF5722;
	height: 30px;
	margin-left: 24px;
	margin-top: 36px;
	position: absolute;
	width: 4px;
	z-index: 1;
}

.searchBarSm {
	border: none;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
	float: left;
	height: 30px;
	margin-left: 24px;
	margin-right: 4px;
	margin-top: 36px;
	padding: 0;
	vertical-align: top;
	width: -webkit-calc( 100% - 150px );
}

.searchBarSm::placeholder {
	color: #CCCCCC;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.searchBarSm[type="text"] {
	color: #000000;
	font-size: 12px;
	padding-left: 16px;
}

.searchBtnSm {
	background-color: #FF5722;
	border: none;
	border-radius: 0;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
	color: white;
	display: inline;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 600;
	height: 30px;
	margin-right: 24px;
	margin-top: 36px;
	outline: none;
	padding-right: 12px;
	padding-top: 3px;
	vertical-align: top;
	z-index: 1;
}

.searchBtnSm:hover {
	background-color: #D0471D;
	cursor: pointer;
}

.searchIconSm {
	padding-right: 4px;
}

.results-container {
	background-color: #f3f6f7;
	height: 575px;
	float: left;
	margin: 24px 12px 24px 24px;
	overflow: scroll;
	padding: 12px;
	width: -webkit-calc( 50% - 48px );
}

.results-card {
	background-color: white;
	border: 1px solid #cccccc;
	float: left;
	height: 120px;
	margin: 12px;
	padding: 12px;
	width: -webkit-calc( 50% - 50px );
}

.results-card:hover {
	box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.results-card-desc-container {
	display: flex;
  height: 60%;
}

.results-card-desc {
	align-self: flex-end;
	color: #757575;
	display: inline-block;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
  margin-left: 12px;
}

/* TODO: Fix map so the height is the same height as the screen, not 600px all of the time */

.mapContainer {
	height: 600px;
	float: right;
	margin: 24px 24px 24px 12px;
	width: -webkit-calc( 50% - 60px );
	z-index: 1;
}

#map {
	display: block !important;
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 1000px) {

	.mapContainer {
    height: 400px;
    margin-left: 24px;
		margin-right: 24px;
		width: -webkit-calc( 100% - 48px );
  }

  .results-container {
  	margin: 24px;
		width: -webkit-calc( 100% - 72px );
	}

  .results-card {
		width: -webkit-calc( 100% - 50px );
	}

}

.zeroState {
	text-align: center;
	margin-top: 24px;
}

.zeroStateText {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.zeroStateSubText {
	color: #757575;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.primary-btn-inline {
	background-color: #ff5722;
	border-radius: none;
	color: #fff;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 7px;
	text-decoration: none;
}

.primary-btn-inline:hover {
	background-color: #D0471D;
	cursor: pointer;
}