html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

h2 {
	font-size: 30px;
	font-weight: 600;
}

/* home.blade.php */

.homeBlade {
	background-image: url(/images/landing-page-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.floatingForm {
	background-color: rgba(255, 255, 255, 0.55);
	height: 295px;
	left: -webkit-calc( 50% - 350px );
	overflow: hidden;
	position: absolute;
	text-align: center;
	top: 25%;
	width: 700px;
}

.searchDiv {
	height: 50px;
	margin: 40px, 24px;
	width: 522px;
	z-index: -1;
}

.orangeAccent {
	background-color: #FF5722;
	height: 50px;
	margin-left: 24px;
	position: absolute;
	width: 4px;
	z-index: 1;
}

.searchBarHome {
	border: none;
	float: left;
	height: 50px;
	margin-left: 24px;
	padding: 0;
	width: 506px;
}

.searchBarHome::placeholder {
	color: #CCCCCC;
	font-size: 20px;
}

.searchBarHome[type="text"] {
	color: #000000;
	font-size: 20px;
	padding-left: 16px;
}

.searchBtnHome {
	background-color: #FF5722;
	border: none;
	border-radius: 0;
	color: white;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 600;
	height: 50px;
	margin-right: 24px;
	outline: none;
	padding: 12px;
	z-index: 1;
}

.searchBtnHome:hover {
	background-color: #D0471D;
	cursor: pointer;
}

.fa-search {
	font-size: 24px;
	padding-right: 12px;
}

.grayText {
	color: #757575;
	font-size: 16px;
	margin: 40px;
}

/* results.blade.php */

.leftSide {
	width: 55%;
	margin: 0;
	padding: 0;
	float: left;
}

/* TODO: Fix map so the height is the same height as the screen, not 800px all of the time */

.mapContainer {
	height: 800px;
	float: right;
	margin: 74px 24px 24px;
	width: 40%;
	z-index: 1;
}

#map {
	display: block !important;
	height: 100%;
	width: 100%;
}